body {
    background-color: #dadada;
}

.navbar-background-color {
    background-color: white;
}

.nav-link {
    color: #1A76BC !important;
    font-size: 24px;
    text-align: left;
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
}

.header-logo {
    max-height: 50px;
    padding-right: 20px;
}

.nav-whitespace {
    height: 76px;
}

.card {
    margin-bottom: 30px;
}

.vacancies-cards {
    height: 210px; 
}

.html-edit-schortcuts {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.text-wrap-edit {
    white-space: pre-wrap;
}

.vacancy-text {
    max-width: 800px;
}

.view-vacancy-btn {
    margin-top: 10px;
}