{% extends 'base.html' %} {% block content %}

<div class="nav-whitespace"></div>
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-12">
            <h1>ACTIVATE YOUR ACCOUNT</h1>
        </div>
        <div class="col-12 mt-3 mb-3">
            <div class="alert alert-success" role="alert">
                <h3>Your account has been created!</h3>
                <p>The last step to your new future is to activate your account by following the activation link we send to your email address.</p>
                <p>Note that the activation link will expire in 24 hours and don't forget to check your spam folder.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}