{% extends 'base.html' %} {% block content %}
<div class="nav-whitespace"></div>
<div class="container">
    <div class="row pb-2">
        <div class="col-12">
            <h1>EMPLOYEES</h1>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-12 page-image-div">
            <img src="/static/images/employees-image.jpg" class="page-images" alt="Working lady.">
        </div>
    </div>
    
    <div class="row pb-5">
        <div class="col-12">
            <h3>Looking for a chance to work abroad?</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">You just made the first step by finding us. With a few more steps you are registered with us and we will try to find a suitable job for you.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">Working via us mostly means temporary contracts but you will get the freedom to accept permanent positions as you continue your path.</p>
        </div>
    </div>

    

    <div class="row pb-5">
        <div class="col-12">
            <h3>How to start your new adventure.</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">Start with filling in our NOK form which you can find HERE and create a profile on our website where you can add your resume.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">If you have any questions feel free to contact us or visit our office in the beautifull Ub.</p>
        </div>
    </div>
    
</div>

{% endblock %}