{% extends 'base.html' %} {% block content %}

<div class="nav-whitespace"></div>
<div class="container">
    <!--Title-->
    <div class="row pb-2">
        <div class="col-12">
            <h1>EMPLOYERS</h1>
        </div>
    </div>

    <!--Page image-->
    <div class="row pb-5">
        <div class="col-12 page-image-div">
            <img src="/static/images/employers-image.jpg" class="page-images" alt="Business meeting.">
        </div>
    </div>

    <!--First text area-->
    <div class="row pb-5">
        <div class="col-12">
            <h3>How can we help you finding good work force?</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">Serbian people are very well educated/trained and are eager to work
                abroad. We will find the right person for you matching your requirements.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">After we found the perfect match for your company we will take care of
                everything. From a visa to transportation, we will make everything run smoothly.</p>
        </div>
    </div>

    <!--Second text area-->
    <div class="row pb-5">
        <div class="col-12">
            <h3>Leave everything to us.</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">Candidates are carefully vetted and all interviewed by at least one of our
                senior recruiters. All our crew will get a basic medical checkup before departure.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">If you want more information please feel free to give us a call and ask
                for Anja or Andrea.</p>
        </div>
    </div>
</div>


{% endblock %}