{% extends 'base.html' %} {% block content %}

<div class="nav-whitespace"></div>
<div class="container">
    <!--Title-->
    <div class="row pb-2">
        <div class="col-12">
            <h1>EMPLOYEES</h1>
        </div>
    </div>

    <!--Page image-->
    <div class="row pb-5">
        <div class="col-12 page-image-div">
            <img src="/static/images/employees-image.jpg" class="page-images" alt="Working lady.">
        </div>
    </div>

    <!--First text area-->
    <div class="row pb-5">
        <div class="col-12">
            <h3>Looking for a chance to work abroad?</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">You just made the first step by finding us. With a few more steps you are
                registered with us and we will try to find a suitable job for you.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">Working via us mostly means temporary contracts but you will get the
                freedom to accept permanent positions as you continue your path.</p>
        </div>
    </div>

    <!--Second text area-->
    <div class="row pb-5">
        <div class="col-12">
            <h3>How to start your new adventure.</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">Start with creating an account on our website. Fill out your information and upload your documents before you apply for you future job.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="main-paragraph-spacing">If you have any questions or you need help please feel free to <a href="{{url_for('contact')}}" class="content-text">contact us</a> or come to our office. Our team is happy to help you.</p>
        </div>
    </div>
</div>

{% endblock %}