{% extends 'base.html' %} {% block content %}

<div class="nav-whitespace"></div>
<div class="container">
    <!--Title-->
    <div class="row pb-2">
        <div class="col-12">
            <h1>EMPLOYERS</h1>
        </div>
    </div>

    <!--Page image-->
    <div class="row pb-5">
        <div class="col-12 page-image-div">
            <img src="/static/images/employers-image.jpg" class="page-images" alt="Business meeting.">
        </div>
    </div>

    <!--First text area-->
    <div class="row pb-5">
        <div class="col-12">
            <h3>How can we help you finding good work force?</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="pl-2 pl-md-5">We can provide from our pool any experts matching your demands and all personnel will be carefully selected based on your specific needs.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="pl-2 pl-md-5">Interviews can be conducted by your company.
                If you need more information, please feel free to give us a call or send an e-mail.</p>
        </div>
    </div>

    <!--Second text area-->
    <div class="row pb-5">
        <div class="col-12">
            <h3>Leave everything to us.</h3>
        </div>
        <div class="col-12 col-md-6">
            <p class="pl-2 pl-md-5">Candidates are carefully vetted and all interviewed by at least one of our
                senior recruiters. All our crew will get a basic medical checkup before departure.</p>
        </div>
        <div class="col-12 col-md-6">
            <p class="pl-2 pl-md-5">Code of conduct- PRAVILA POSLOVNOG PONAŠANJA I POSLOVNE ETIKE (KODEKS PONAŠANJA)</p>
        </div>
    </div>
</div>


{% endblock %}