{% extends 'base.html' %} {% block content %}

<div class="nav-whitespace"></div>
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-12">
            <h1>RESET YOUR PASSWORD</h1>
        </div>
        <div class="col-12 mt-3 mb-3">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {{ messages[0]|safe }}
            </div>
            {% endif %}
            {% endwith %}
            <form method=POST action="{{ url_for('reset_password', token=token)}}">
                <div class="form-group">
                    <label for="reset-password">Password</label>
                    <input type="password" class="form-control" id="reset-password" name="reset-password" placeholder="Password"
                        required>
                    <label for="reset-password">Retype password</label>
                    <input type="password" class="form-control" id="reset-password2" name="reset-password2" placeholder="Retype password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Save password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}