{% extends 'base.html' %} {% block content %}

<div class="nav-whitespace"></div>
<div class="container">
    <!--Title-->
    <div class="row pb-2">
        <div class="col-12">
            <h1>VACANCIES</h1>
        </div>
    </div>
    
    <!--Iterate through all vacancies and post them-->
    <div class="row">
    {% for vacancy in vacancies %}
        <div class="col-12 col-md-4">
            <div class="card vacancies-cards">
                <h4 class="card-header">{{ vacancy.vacancy_title }}</h4>
                <div class="card-body">
                    {{ vacancy.vacancy_description[0:100] | safe }}...<br>
                    <a href="{{url_for('view_vacancy', vacancy_id=vacancy._id)}}" class="btn btn-primary view-vacancy-btn">View vacancy</a>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</div>

{% endblock %}